.pai/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
coverage/
ts/examples/ssg-basic/dist-static/

# OS/editor
.DS_Store
.idea/
.vscode/

reference/
.theory/